# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# 自定义忽略的文件
/globalinterpark.py
/globalinterpark.js
/猿人学内部练习平台/*